@charset "UTF-8";
/* top顶部导航栏 */
.topWrap {
  width: 100%;
  /* width: 1226px; */
  height: 40px;
  background-color: #333333;
}

.topWrap .top {
  margin: 0 auto;
  min-width: 1226px;
  width: 1226px;
  height: 40px;
  background-color: #333333;
  overflow: hidden;
}

.topWrap .top a {
  font-size: 10px;
  color: #b0b0b0;
  line-height: 40px;
}

.topWrap .top a:hover {
  color: #fff;
}

.topWrap .top .divide {
  font-size: 11px;
  color: #424242;
  margin: 0 3px 0 2px;
}

.topWrap .top .top_r {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #424242;
}

.topWrap .top .top_r {
  text-align: center;
  display: inline;
  font-size: 11px;
  color: #b0b0b0;
  cursor: pointer;
}

.topWrap .top .top_r .cart2 {
  width: 21px;
  height: 18px;
}

.topWrap .top .top_r .cart {
  width: 21px;
  height: 18px;
  display: none;
}

.topWrap .top .top_r:hover {
  background-color: white;
  color: #ff6700;
}

/* header头部导航栏 */
.header {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  cursor: pointer;
}

.header .nav {
  display: flex;
  justify-content: center;
}

.header .nav .all_goods {
  cursor: pointer;
}

.header .nav li {
  float: left;
  font-size: 16px;
  margin: 0 15px;
}

.header .nav li a {
  color: #333333;
}

.header .nav li a:hover {
  color: #ff6700;
}

.header .select {
  width: 296px;
  height: 50px;
  float: left;
  border: 1px solid #e0e0e0;
}

.header .select input {
  width: 235px;
  height: 40px;
  float: left;
  line-height: 50px;
  margin: 0;
  padding: 5px;
  border: 0;
  cursor: text;
}

.header .select .icon {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  background-color: white;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
}

.header .select .icon:hover {
  background-color: #ff6700;
}

.header .select .icon img {
  width: 18px;
  height: 18px;
}

/*鼠标划入header展示效果*/
.product_wrap {
  width: 100%;
  height: 228px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  left: 0;
  top: 140px;
  display: none;
  z-index: 99;
}

.product_wrap .product {
  width: 1196px;
  height: 168px;
  background-color: white;
  margin: 0 auto;
  padding: 30px 15px;
}

.product_wrap .product a {
  width: 175px;
  float: left;
  margin: 0 10px;
  text-align: center;
}

.product_wrap .product a .img {
  border-right: 1px solid #e0e0e0;
}

.product_wrap .product a p {
  font-size: 12px;
  color: #333333;
  line-height: 24px;
}

.product_wrap .product a i {
  font-size: 11px;
  color: #ff6700;
  line-height: 24px;
}

.tit_wrap {
  width: 100%;
  min-width: 1226px;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 60px;
}

.tit_wrap .tit {
  width: 1226px;
  margin: 0 auto;
  height: 60px;
}

.tit_wrap .tit dl dt {
  float: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  color: #424242;
}

.tit_wrap .tit dl dd {
  float: left;
}

.tit_wrap .tit dl .other_tit {
  font-size: 12px;
}

.tit_wrap .tit dl .other_tit a {
  color: #616161;
}

.tit_wrap .tit dl .other_tit a:hover {
  color: #ff6700;
}

.tit_wrap .tit dl .sep {
  color: #616161;
  font-size: 12px;
  padding: 0 5px;
}

.tit_wrap .tit ul {
  float: right;
}

.tit_wrap .tit ul li {
  float: left;
  font-size: 14px;
}

.tit_wrap .tit ul li a {
  color: #616161;
}

.tit_wrap .tit ul li a:hover {
  color: #ff6700;
}

.tit_wrap .tit ul .sep {
  color: #e0e0e0;
  padding: 0 10px;
}

.main {
  padding-top: 32px;
  width: 1226px;
  margin: 0 auto;
  height: 670px;
  min-width: 1226px;
  overflow: hidden;
}

.main .swiper-container {
  width: 560px;
  height: 560px;
  float: left;
  margin: 0;
  padding: 0;
}

.main .swiper-container img {
  width: 560px;
  height: 560px;
}

.main .swiper-container .swiper-button-prev {
  width: 41px;
  height: 69px;
  color: #d6d6d6;
}

.main .swiper-container .swiper-button-prev:hover {
  background-color: #7f7f7f;
}

.main .swiper-container .swiper-button-next {
  width: 41px;
  height: 69px;
  color: #d6d6d6;
}

.main .swiper-container .swiper-button-next:hover {
  background-color: #7f7f7f;
}

.main .info {
  float: left;
  width: 600px;
  margin-left: 20px;
  min-height: 560px;
}

.main .info .title {
  display: block;
  width: 600px;
  height: 36px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}

.main .info .title img {
  width: 50px;
  height: 24px;
}

.main .info .long_disc {
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  line-height: 1.5;
  font-size: 14px;
}

.main .info .data-v {
  font-size: 14px;
  line-height: 1.5;
  color: #ff4a00;
  margin-top: 14px;
  display: block;
}

.main .info .price {
  height: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 10px;
}

.main .info .line {
  margin-top: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.main .info .address_box {
  width: 600px;
  height: 104px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  padding: 30px 50px;
  background-color: #fafafa;
  position: relative;
}

.main .info .address_box i {
  position: absolute;
  left: 20px;
  top: 26px;
}

.main .info .address_box i img {
  width: 20px;
  height: 20px;
}

.main .info .address_box .address_con {
  width: 498px;
  height: 42px;
  font-size: 14px;
}

.main .info .address_box .address_con a {
  color: #ff6700;
}

.main .info .address_box .address_con .haveGood {
  color: #ff6700;
}

.main .info .choose_version_title {
  display: block;
  height: 27px;
  font-size: 18px;
  color: #333;
}

.main .info .version {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.main .info .version li {
  width: 292px;
  height: 42px;
  border: 1px solid #e0e0e0;
  color: #757575;
  margin-top: 10px;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}

.main .info .version li:nth-child(2n+1) {
  margin-right: 12px;
}

.main .info .version li:hover {
  border: 1px solid #ff6700;
  color: #ff6700;
}

.main .info .version .active {
  border: 1px solid #ff6700;
  color: #ff6700;
}

.main .info .choose_color_title {
  display: block;
  height: 27px;
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.main .info .color {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.main .info .color li {
  width: 292px;
  height: 42px;
  border: 1px solid #e0e0e0;
  color: #757575;
  margin-top: 10px;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}

.main .info .color li:nth-child(2n+1) {
  margin-right: 12px;
}

.main .info .color li:hover {
  border: 1px solid #ff6700;
  color: #ff6700;
}

.main .info .color .active {
  border: 1px solid #ff6700;
  color: #ff6700;
}

.detail_of_price_wrap {
  width: 100%;
  height: 300px;
  min-width: 1226px;
  background: #f5f5f5;
}

.detail_of_price_wrap .detail_of_price {
  margin: 0 auto;
  height: 266px;
  width: 1226px;
  min-width: 1226px;
  text-align: center;
}

.detail_of_price_wrap .detail_of_price h3 {
  text-align: left;
  padding: 20px 0;
  width: 1226px;
  height: 33px;
  display: block;
  font-size: 22px;
  font-weight: 400;
}

.detail_of_price_wrap .detail_of_price img {
  margin: 0 auto;
  width: 1226px;
  height: 189px;
  margin-bottom: 20px;
}

/*底部*/
.footer {
  width: 1226px;
  height: 525px;
  margin: 0 auto;
}

.footer .service {
  width: 1226px;
  height: 80px;
  box-sizing: border-box;
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 auto;
}

.footer .service li {
  float: left;
  text-align: center;
  width: 19.8%;
  border-right: 1px solid #e0e0e0;
}

.footer .service li a {
  color: #616161;
}

.footer .service li a img {
  width: 24px;
  height: 25px;
}

.footer .service li a:hover {
  color: #fa6509;
  transition: color .2s;
}

.footer .service li:last-child {
  border: none;
}

.footer .footer_nav {
  width: 1226px;
  height: 192px;
  padding: 40px 0;
  box-sizing: border-box;
}

.footer .footer_nav dl {
  width: 160px;
  height: 112px;
  float: left;
  margin: 0;
}

.footer .footer_nav dl dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}

.footer .footer_nav dl dd {
  margin: 10px 0 0;
  font-size: 12px;
  display: block;
  color: #757575;
}

.footer .footer_nav dl dd a {
  color: #757575;
}

.footer .footer_nav dl dd a:hover {
  color: #fa6509;
}

.footer .footer_nav .contact {
  float: right;
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}

.footer .footer_nav .contact .phone {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
  margin: 0 0 5px 0;
}

.footer .footer_nav .contact p {
  margin: 0 0 5px 0;
  font-size: 12px;
  text-align: center;
  color: #616161;
}

.footer .footer_nav .contact a {
  display: inline-block;
  background: #fff;
  color: #ff6700;
  border: 1px solid #ff6700;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

.footer .footer_nav .contact span {
  display: block;
  padding-top: 10px;
  font-size: 12px;
}

.footer .footer_nav .contact span img {
  cursor: pointer;
}

.footer .sites {
  margin-top: 25px;
}

.footer .sites a {
  color: #757575;
  font-size: 14px;
}

.footer .sites a:hover {
  color: #ff6700;
}

.footer p {
  margin: 20px 0 0;
  display: block;
  color: #333;
  font-size: 14px;
}

.footer p a {
  color: #757575;
}

.footer p a:hover {
  color: #ff6700;
}

.footer .information {
  margin-top: 20px;
}

.footer .information img {
  cursor: pointer;
}
